@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/** Config */

$font-root: 14px;
$font-med: 16px;
$font-large: 18px;

/**
 * Width
 * Height
 * Margin
 * Border
 * Padding
 * Rest of box
 * Content
*/

@mixin media-med {
    @media screen and (min-width: 1023px) {
        @content;
    }
}

@mixin media-large {
    @media screen and (min-width: 1599px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: $font-root;
}

body {
    background: url("./background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.App {
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

section {
    width: 100%;
}

.input-container {
    height: 5vh;
}

.visual-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .section {
        width: 15%;

        .name-container {
            text-align: center;
        }

        .character-container {
            width: 100%;
            border: 1px solid white;
            padding: 1rem;
            display: flex;
            justify-content: space-between;

            .character-column {
                width: 10%;
                display: flex;
                flex-direction: column;

                span {
                    text-align: center;
                    line-height: 120%;
                }
            }
        }
    }

    .forward-line {
        position: absolute;
        border-top: solid 2px red;
        transform-origin: 0% 0%;
        display: block;
    }

    .backward-line {
        position: absolute;
        border-top: solid 2px yellow;
        transform-origin: 0% 0%;
        display: block;
    }
}


@include media-med {
    html {
        font-size: $font-med;
    }
}

@include media-large {
    html {
        font-size: $font-large;
    }
}