@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/** Config */

$font-root: 14px;
$font-med: 16px;
$font-large: 18px;

/**
 * Width
 * Height
 * Margin
 * Border
 * Padding
 * Rest of box
 * Content
 */

@mixin media-med {
    @media screen and (min-width: 1023px) {
        @content;
    }
}

@mixin media-large {
    @media screen and (min-width: 1599px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    min-width: 100%;
    min-height: 100%;
    font-size: $font-root;
}

body {
    background: url("./background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.App {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 30px;
    backdrop-filter: blur(40px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        section {
            width: 100%;
        }

        .output-container {
            width: 80%;
            min-height: 5vh;
            margin-bottom: 1rem;
            border: 1px solid white;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .rotor-step-container {
            min-height: 5vh;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .rotor-step {
                width: 5rem;
                height: 5vh;
                border: 1px solid white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 2rem;
                background-color: #ffffff20;
            }
        }

        .visual-container {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            .section {
                width: 15%;

                .name-container {
                    text-align: center;
                }

                .character-container {
                    width: 100%;
                    border: 1px solid white;
                    padding: 1rem 2rem;
                    display: flex;
                    justify-content: space-between;

                    .character-column {
                        width: 10%;
                        display: flex;
                        flex-direction: column;

                        span {
                            width: 1rem;
                            border: 1px solid transparent;
                            text-align: center;
                            line-height: 105%;
                        }

                        .top {
                            color: black;
                            background-color: white;
                        }

                        .notch {
                            border: 1px dashed white;
                        }
                    }
                }
            }

            .forward-line {
                position: absolute;
                border-top: solid 2px red;
                transform-origin: 0% 0%;
                display: block;
            }

            .backward-line {
                position: absolute;
                border-top: solid 2px yellow;
                transform-origin: 0% 0%;
                display: block;
            }
        }

        .input-container {
            width: 80%;
            margin-top: 1rem;

            .input-box {
                width: 100%;
                min-height: 5vh;
                text-align: center;
            }
        }
    }
}


@include media-med {
    html {
        font-size: $font-med;
    }
}

@include media-large {
    html {
        font-size: $font-large;
    }
}